#accueil{
  background-color: color:black;
  height: 50%;
  width: 100%;
}
#accueilshop{
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 15px 10px;
  width: 996px;
  background: blue;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}

#menu{
  opacity: 1;
  visibility: visible;
}

footer{
  background-color: #2A435A;
  color: #ccc;
  margin: 30px 0 0;
    padding: 1em;
   color: white;
   clear: left;
   text-align: center;
}
.col-item
{
    border: 2px solid #2323A1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info {
    background-color: rgba(215, 215, 244, 0.5);
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #00990E;
}

.col-item .info .rating
{
    color: #003399;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #FFCCCC;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #CC9999;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
